*{
    margin: 0px;
    padding: 0px;
}
.wraper{
    width: 1280px;
    margin: 0 auto;
    position: relative;
}
.Ramda{
    text-decoration: none;
    font-size: 79px;
}
.Div_RAm{
   padding: 10px 0px 25px 0px;

}
k{
    color: black;
}
M{
    color: #97e6ff;
}
.Bloc_Ram{
    background-color: #48488f;
    text-align: center;
    /*position: -webkit-sticky;*/
    /*position: sticky;*/
    display: block;
    height: 64px;
    margin: 0 auto;
}

div{
    display: block;
}
.a_Ram{
    text-decoration: none;
    text-align: center;
    position: relative;
    color: white;
    display: block;
    padding: 14px 53px;
}

._Ram{
    font-family: Centaur;
    float: left;
    font-size: 24px;
    text-align: center;
    line-height: 1.5;
    vertical-align: middle;
    display: inline-block;
    /*margin: 0px 10px 0px 10px;*/
}
.Ul_Ram{
    display: inline-block;
}
/*.Ul_Ram{*/
    /*margin: 0 auto;*/
    /*border-left: 10px rgba(0, 0, 0, 0);*/
    /*width: 100%;*/
 /*}*/
/*.Ul_Ram{*/
    /*height: 64px;*/

/*}*/
    /*margin: 0px 0% 0px 13%;*/
/*}*/
/*.Ul_Ram{
    /*text-align: center;*/
    /*font-size: 1em;*/
    /*list-style: none;*/
    /*overflow: hidden;*/

    /*padding: 0%  4% 0% 4%;*/
/*}*/
._Ram.a_Ram{
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
}
.Div_Cent{
   /*margin: 0px 10% 0px 10%;*/
    text-align: center;
}

.a_Ram:hover{
    background-color: #2f3264;
    border: 5px white;
    display: block;
}
.Menu{
    list-style-type: none;
    text-decoration: none;
    position: absolute;
    left: 0;
    border: 1px solid black;
    display: inline-block;
    width: 20%;
    margin: 40px 0px 0px 0px;
    float: left;
}
.box-set{
    width: 100%;
}
.LiNone > ul{
    list-style-type: none;
}
.LiNone > ul{
    list-style-type: none;
    /*border: 1px solid black;*/
    /*margin: 20px 120px 20px 15px;*/
    /*width: 60%;*/
    text-align: left;
    /*padding: 20px;*/
}
.LiNone > ul > a{
    text-decoration: none;
}
.LiNone > ul > a > li{
    text-decoration: none;
    padding: 13px 0px 13px 20px;
}
div.Menu > div.LiNone > ul > a{
    color: black;
    position: relative;
    font-size: 30px;
    display: block;
}
    div.Menu > div.LiNone > ul > a:hover{
        border-left: 20px solid rgba(0, 0 ,0 ,0);
        border-left: 20px solid #c7c7c7;
    }
    /*padding: 10px;*/

/*div.box-set > div.Menu > ul > div.LiNone > a{*/
    /*margin: 30px;*/
    /*border: 5px snow;*/
    /*padding: 20px;*/
    /*text-decoration: none;*/
/*}*/
a.MenuA > li:hover{
    background-color: #c7c7c7;
}
.IMG_Os{
    /*margin: 0 auto;*/
    /*left: 50%;*/
    /*top: 50%;*/
    /*position: absolute;*/
    /*display: inline-block;*/
}
.Img_ {
    /*position: absolute;*/
    /*top: 50%;*/
    /*display: inline-block;*/
    width: 76%;
    position: relative;
    height: 440px;
    margin: 40px 0px 0px 0px;
    text-align: center;
    display: inline-block;
    right: 0;
    float: right;
    border: 1px solid black;
}
.IMG_Os{
    position: relative;
    width: 290px;
    height: 307px;
    margin: 67px;
}
.PDiv{
    float: right;
    width: 76%;
}
.PDiv > p{
    text-indent: 10px;
    margin: 20px 15px 30px 15px;
}
footer ul {
    float: left;
}
footer li{
    display: inline-block;
}
footer li a{
    display: block;
    text-decoration: none;
    color: black;
    font-size: 23px;
    padding: 17px 30px 0px;
}
footer a:hover{
    text-decoration: underline;
}
.copy{
    float: right;
    font-size: 30px;
    padding: 9px 17px 0px;

}
footer{
    clear: both;
    height: 50px;
    background-color: #8d8d8d;
}